$base-text-color: #1a1a1a;
$muted-text-color: #888888;
$accent-light-text-color: #19b0f6;
$accent-dark-text-color: #1669c4;
$accent-light-color: #19b0f6;
$accent-dark-color: #1669c4;
$gray-dark-color: #888888;
$gray-light-color: #e8e8e8;
